:root {
    --white: #FFFFFF;
    --dark: #1F4D5F;
    --grey: #47778B;
    --orange: #E47622;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--grey);
}

.main-color {
    background: #177074;
}

.white-color {
    color: #FFFFFF;
}

.black-color {
    color: #153946;
}

.orange-color {
    color: #E47622;
}

.dark-color {
    color: #1F4D5F;
}

.secondary-text-color {
    color: var(--dark);
}

.grey-color {
    color: #47778B;
}

.white-background {
    background-color: var(--white);
}

.transition {
    transition: 0.3s all ease;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

select {
    cursor: pointer;
}

.section-padding {
    padding: 130px 0;
}

h2 {
    font-family: 'Fuzzy Bubbles', cursive;
    letter-spacing: -2px;
    font-weight: 700;
    color: var(--dark);
    font-size: 70px;
}

.main-btn {
    border-radius: 6PX;
    padding: 7px 12px;
    font-size: 14px;
}

nav .active-sign-up {
    background-color: #e47622b8;
    font-weight: 500;
    color: var(--white) !important;
    padding: 8px 10px;
    border-radius: 6px;
}



@media (max-width: 767px) {
    .main-btn {
        font-size: 12px;
    }

    h2{
        font-size: 36px;
    }

    .section-padding {
        padding: 80px 0;
    }

    nav .sign-up {
        margin: auto;
    }
}

/* landing page */

.landing-page {
    background-image: url(../images/tours.png);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.shadow {
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.1);
}

nav.white-background {
    background-color: #FFFFFF !important;
    transition: .5s all ease-in-out;
}

nav a {
    color: var(--dark) !important;
    font-size: 14px;
}


nav .active-nav {
    position: relative;
    font-weight: 600 !important ;
    border-bottom: 2px solid var(--dark);
}

nav .sign-up-border {
    border: 1px solid #CDCDCD;
    padding: 4px 28px !important;
    height: 33px;
}

nav .navbar-brand img {
    width: 120px;
}

nav .nav-item {
    margin-left: 20px;
    transition: .1s;
}

nav .nav-link:hover {
    color: #729eb1 !important;
    font-weight: 500;
    border-bottom: 2px solid #729eb1;
}

nav .login-container {
    width: 50px;
}

nav .login:hover {
    font-weight: 700;
    color: #729eb1 !important;
}

nav .sign-up:hover {
    background-color: #e47622b8;
    font-weight: 500;
    color: var(--white) !important;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.566);;
        backdrop-filter: blur(10px);
    }

    nav .nav-item {
        margin: 5px 0;
        height: 50px;
    }

    nav .nav-item .nav-link {
        font-weight: 500;
        font-size: 18px;
    }

    nav .active-nav {
        margin: -9px 0 4px;
    }
}

/* other-options-main-content */
.other-options-container {
    padding: 50px;
    border: 1px solid #E2EEF2;
    border-radius: 6px;
}

.other-options-container .card-holder {
    border: 1px solid #E2EEF2;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 25px;
}


.other-options-container .card-holder a {
    color: var(--dark);
    border: 1px solid #E2EEF2;
    padding: 8px 18px;
    border-radius: 6px;
    transition: 0.3s;
    font-size: 14px;
}

.other-options-container .card-holder a:hover {
    color: var(--white);
    background-color: var(--grey);
    border: 1px solid var(--dark);
}

.other-options-container .card-holder .info {
    font-weight: 600;
}

.other-options-container .card-holder .title {
    padding-left: 10px;
}

.other-options-container .card-holder .title h3 {
    font-size: 24px;
}

/* .other-options-container .date {
    margin-left: 113px;
} */


@media (max-width: 767px) {
    .other-options-container .card-holder .img-container {
        max-height: 90px;
        border-right: 1px solid #CFE1E7;
        padding-right: 0;
    }

    .other-options-container .card-holder .img-container img {
        height: 100%;
    }

    .other-options-container .card-holder .title h3 {
        font-size: 16px;
    }

    .other-options-container .card-holder a {
        margin-left: auto;
        margin-top: 5px;
    }

    .other-options-container .card-holder .info {
        font-size: 14px;
    }

    .other-options-container .card-holder .info .price {
        margin-left: 17px;
    }

}



/* my-profile */
.profile-bg {
    background-color: #FBFBFB;
}
.my-profile {
    background-image: none;
}

.my-profile .background {
    width: 100%;
}

.profile-container .other-options-container {
    padding: 0;
    margin-top: 27px;
    box-shadow: -1px 2px 6px 1px #00000012;
    border: none;
}

.my-profile .other-options-container .profile-holder {
    max-width: 145px;
    margin-top: -67px;
    border: 11px solid white;
    border-radius: 50%;
}

.my-profile .other-options-container .profile-img {
    width: 100%;
    object-fit: cover;
}

.my-profile .other-options-container .data  {
    height: 50px;
}

.my-profile .other-options-container .tours {
    border-right: 1px solid #CFE1E7;
    padding-right: 15px;
}

.my-profile .other-options-container .data .number {
    font-size: 22px;
    font-weight: 600;
}

.my-profile .other-options-container .data-container .name {
    font-size: 40px;
    margin: 0;
}

.my-profile .other-options-container .data-container .email {
    font-size: 18px;
}

.my-profile .other-options-container .data-container .account-details {
    color: var(--dark);
    border: 1PX solid #CFE1E7;
}

.my-profile .other-options-container .data-container .account-details:hover {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid  var(--orange);
}

.my-profile .other-options-container .data-container .my-billings {
    color: var(--white);
    background-color: var(--grey);
}

.my-profile .other-options-container .data-container .my-billings:hover {
    background-color: var(--dark);
}

.profile-container .my-profile-cards {
    padding: 30px;
}

.my-profile-cards .card-holder {
    font-size: 14px;
    margin: 7px;
    width: 49%;
}

.my-profile-cards .card-holder .link {
    min-width: 125px;
}

.my-profile-cards .card-holder .title h3 {
    font-size: 16px;
    font-weight: 600;
}

.my-profile-cards .card-holder .link a {
    padding: 7px 15px;
    text-align: center;
}

.my-profile-cards .card-holder .title {
    margin-top: 5px;
}

.cards-padding {
    margin: 70px 0;
}

.my-profile-cards .title span {
    font-size: 14px;
}

.profile-container .my-profile-cards h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}


/* destination-cards */
.destinations-cards .destination-card .image-holder {
    overflow: hidden;
    border-radius: 20px;
}

.destinations-cards .destination-card:hover h5 {
    color: #47778bc4;
}

.destinations-cards .destination-card .image-holder img {
    width: 100%;
}

.hover {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.destinations-cards .destination-card .description {
    font-size: 14px;
    padding: 0 5px;
}

.destinations-cards .destination-card .description h5 {
    font-size: 14px;
    transition: 0.3s;
}

.destinations-cards .destination-card .description .price {
    font-weight: 600;
}

.destinations-cards hr {
    color: #84a0a1;
    margin-top: 70px;
}

.destinations-cards .destination-card .img-container {
    overflow: hidden;
    border-radius: 20px;
}

.destinations-cards .destination-card .image-holder::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.13);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}

.destinations-cards .destination-card:hover .image-holder::before {
    opacity: 1;
}

@media (max-width: 767px) {
    .destinations-cards .destination-card .description h5 {
        font-size: 16px;
    }
}


@media (max-width: 992px) {
    .my-profile .other-options-container {
        margin-top: 60px;
    }

    .my-profile-cards .card-holder {
        width: 100%;
        margin: 25px 0;
    }
}

@media (max-width: 767px) {
    .my-profile .other-options-container {
        margin-top: 45px;
    }

    .my-profile .other-options-container .profile-holder {
        max-width: 120px;
        margin-top: -50px;
    }
    
    .my-profile .other-options-container .data .number {
        font-size: 16px;
    }

    .my-profile .other-options-container .data .description {
        font-size: 14px;
    }

    .my-profile .other-options-container .name {
        font-size: 25px;
    }

    .my-profile .other-options-container .data-container .location {
        font-size: 14px;
    } 

    .my-profile .other-options-container .data-container .email {
        font-size: 16px;
    }

    .my-profile .other-options-container .data-container .button-holder {
        margin-top: 10px;
    }

    .my-profile-cards .card-holder .link {
        min-width: 0;
    }
    
}








/* footer */
footer {
    font-size: 14px;
}

footer a {
    transition: 0.3s;
}

footer a:hover {
    opacity: 0.5;
}

footer .social a {
    width: 30px;
    height: 30px;
    background: white;
    margin: 5px;
    text-align: center;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 14px;
}

footer .social i {
    color: #177074;
}

footer .head {
    font-weight: 600;
    margin-bottom: 17px;
}

footer p {
    line-height: 25px;
}

footer .links li {
    margin: 5px 15px 5px 0;
}

footer .links a {
    color: var(--white);
}

footer form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px 0;
    color: var(--white);
}

footer form input::placeholder {
    color: var(--white);
    opacity: 0.8;
}

footer form input:focus {
    outline: none;
}

footer form button {
    border: none;
    background: transparent;
    color: var(--white);
}

footer form button:hover {
    opacity: 1;
}

footer form button:hover span i::before {
    transition: 0.3s;
}

footer form button:hover span i::before {
    margin-left: 5px;
}

footer .copy-rights {
    margin-top: 70px;
}

footer .copy-rights a {
    font-weight: 600;
    font-size: 16px;
    color: var(--orange);
}

footer .copy-rights a:hover {
    color: var(--white);
    opacity: 1;
}

@media (max-width: 767px) {
    footer .head {
        margin: 15px 0 10px 0;
    }

    footer .col-lg-3 {
        margin-bottom: 15px;
    }

    footer .social {
        margin-left: -6px;
    }
}

/* end-footer */


